:root {
    --el-color-primary: #7365ff;
    --el-dropdown-menu-box-shadow:none;
    --el-border-color-light: none;
    --el-bg-color-overlay: none;
    --el-box-shadow-light:none;

    --i-window-height: 100vh;
}

body, html {
    height: var(--i-window-height);
}